@media (orientation: landscape) {
    * {
        margin: 0;
        padding: 0;
        color: azure
    }
    .href {
        text-decoration: none;
    }
    body {
        display: flexbox;
        background-color: rgb(8, 8, 8);
    }
    /* Меню */
    nav {
        display: flex;
        position: fixed;
        top: 0;
        background-color: #240a8c;
        box-shadow: -40px 0px 80px #a99cff;
        font-family: 'Kdam Thmor Pro', sans-serif;
        height: 100%;
    }
    .navigation {
        display: flexbox;
        position: flex;
        margin-top: 8%;
    }
    .navigation a {
        color: #c7eaea;
    }
    .navigation li {
        text-align: center;
        padding: 8% 1%;
        list-style: none;
        font-size: 1.3vw;
        color: #00000000;
        font-weight: 800;
        text-shadow: 1px 1px 10px rgb(0, 85, 113);
        transition: all 0.3s;
    }
    .navigation li:hover {
        border-radius: 8%;
        text-shadow: 1px 1px 20px rgb(50, 230, 65);
        font-weight: 800;
        transform: scale(1.2, 1.2);
    }
    /* yuuta */
    main {
        position: relative;
        place-items: center;
        display: flexbox;
        margin-left: 15%;
        margin-right: 15%;
    }
    .name {
        display: flex;
        place-items: center;
        justify-content: space-between;
        padding-top: 8rem;
        padding-bottom: 20rem;
    }
    #home {
        font-size: 28px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        margin-bottom: 130px;
        margin-left: 30px;
        animation: home-animation 2.8s linear infinite;
        color: #0033ab;
        line-height: 1.1;
    }
    @keyframes home-animation {
        0% {
            text-shadow: -40px -40px 100px #0033ab, 40px 40px 100px #5d02cb, 0px 0px 2px #0033ab;
        }
        25% {
            text-shadow: 21px -30px 100px #0033ab, -42px 28px 100px #5d02cb, 0px 0px 3px #0033ab;
        }
        50% {
            text-shadow: 34px 30px 100px #0033ab, -40px -20px 100px #5d02cb, 0px 0px 1px #0033ab;
        }
        75% {
            text-shadow: -49px 0px 100px #0033ab, 30px 20px 100px #5d02cb, 0px 0px 3px #0033ab;
        }
        100% {
            text-shadow: -40px -40px 100px #0033ab, 40px 40px 100px #5d02cb, 0px 0px 2px #0033ab;
        }
    }
    .gif-1 {
        width: 400px;
        position: relative;
        border-radius: 10%;
        border: 0.15vw solid rgb(0, 0, 0);
        animation: img-1-animation 10s linear infinite;
    }
    @keyframes img-1-animation {
        0% {
            box-shadow: 0px 0px 50px #4802cb;
        }
        50% {
            box-shadow: 0px 0px 80px #0033ab;
        }
        100% {
            box-shadow: 0px 0px 50px #4802cb;
        }
    }
    .code {
        margin-left: auto;
        margin-right: auto;
        display: flexbox;
    }
    pre {
        height: 420px;
        width: 70vw;
        overflow: scroll;
        margin-top: 10px;
        border: 1px solid rgb(176, 176, 176);
    }
    /* Footer  */
    footer {
        display: flex;
        text-align: center;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 109px;
        margin-top: 3%;
        background-color: #0033ab;
        padding: auto;
    }
    .text_footer {
        margin: auto;
        font-size: 1.4vw;
    }
    .img_git_footer {
        margin: auto;
    }
    .img_rs_footer {
        margin: auto;
    }
}


/* Мобилки */

@media (orientation: portrait) {
    * {
        margin: 0;
        padding: 0;
        color: azure
    }
    .href {
        text-decoration: none;
    }
    body {
        display: flexbox;
        background-color: black;
    }
    /* Меню */
    nav {
        display: flex;
        top: 0;
        left: 0;
        background-color: #0033ab;
        font-family: 'Kdam Thmor Pro', sans-serif;
        width: 100%;
    }
    .navigation {
        display: inline;
    }
    .navigation a {
        color: #c7eaea;
        margin-left: 5px;
    }
    .navigation li {
        display: inline-flex;
        position: relative;
        text-align: right;
        margin: 4px;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 14px;
        font-weight: 800;
        text-shadow: 1px 1px 10px rgb(0, 85, 113);
        color: #00000000;
        transition: 0.3s;
    }
    .navigation li:hover {
        border-radius: 8%;
        text-shadow: 1px 1px 20px rgb(50, 230, 65);
        font-weight: 800;
        transform: scale(1.1, 1.1);
    }
    /* yuuta */
    main {
        display: flexbox;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .code {
        margin-left: auto;
        margin-right: auto;
        display: flexbox;
    }
    pre {
        height: 420px;
        width: 85vw;
        overflow: scroll;
        margin-top: 10px;
        border: 1px solid rgb(176, 176, 176);
    }
    /* подвал */
    footer {
        display: flex;
        background-color: #0033ab;
        ;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .img_git_footer {
        margin: auto;
    }
    .text_footer {
        margin: auto;
        left: 28%;
        right: 30%;
        margin-top: 7%;
        margin-bottom: 0%;
        font-family: 'Kdam Thmor Pro', sans-serif;
        text-align: center;
        font-size: 16px;
        color: #c7eaea;
    }
    .img_rs_footer {
        margin: auto;
        right: 25px;
        margin-top: 28px;
    }
}