@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&family=Kdam+Thmor+Pro&display=swap');
@media (orientation: landscape) {
    * {
        margin: 0;
        padding: 0;
        scroll-snap-type: y proximity;
        scroll-behavior: smooth;
    }
    .href {
        text-decoration: none;
    }
    body {
        display: flexbox;
        background-color: #080808;
    }
    /* Меню */
    nav {
        display: flex;
        position: fixed;
        top: 0;
        background-color: #240a8c;
        box-shadow: -40px 0px 80px #a99cff;
        font-family: 'Kdam Thmor Pro', sans-serif;
        height: 100%;
    }
    .navigation {
        display: flexbox;
        position: flex;
        margin-top: 8%;
    }
    .navigation a {
        color: #c7eaea;
    }
    .navigation li {
        text-align: center;
        padding: 8% 1%;
        list-style: none;
        font-size: 1.1vw;
        color: #00000000;
        font-weight: 800;
        text-shadow: 1px 1px 10px rgb(0, 85, 113);
        transition: all 0.3s;
    }
    .navigation li:hover {
        border-radius: 8%;
        text-shadow: 1px 1px 20px rgb(50, 230, 65);
        font-weight: 800;
        transform: scale(1.2, 1.2);
    }
    /* yuuta */
    main {
        place-items: center;
        display: flexbox;
        margin-left: 16%;
        margin-right: 16%;
    }
    /* Home */
    .name {
        display: grid;
        place-items: center;
        padding-bottom: 50%;
        grid-template-columns: 60% 40%;
    }
    #home:first-child {
        scroll-snap-align: start;
        font-size: 28px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        padding-top: 130px;
        animation: home-animation 2.8s linear infinite;
        color: #0033ab;
        line-height: 1.1;
    }
    @keyframes home-animation {
        0% {
            text-shadow: -40px -40px 100px #0033ab, 40px 40px 100px #5d02cb, 0px 0px 2px #0033ab;
        }
        25% {
            text-shadow: 21px -30px 100px #0033ab, -42px 28px 100px #5d02cb, 0px 0px 3px #0033ab;
        }
        50% {
            text-shadow: 34px 30px 100px #0033ab, -40px -20px 100px #5d02cb, 0px 0px 1px #0033ab;
        }
        75% {
            text-shadow: -49px 0px 100px #0033ab, 30px 20px 100px #5d02cb, 0px 0px 3px #0033ab;
        }
        100% {
            text-shadow: -40px -40px 100px #0033ab, 40px 40px 100px #5d02cb, 0px 0px 2px #0033ab;
        }
    }
    .gif-1-conteiner {
        display: grid;
        width: 20rem;
    }
    .gif-1 {
        display: grid;
        position: absolute;
        border-radius: 10%;
        border: 0.15vw solid rgb(0, 0, 0);
        animation: img-1-animation 10s linear infinite;
    }
    @keyframes img-1-animation {
        0% {
            box-shadow: 0px 0px 50px #4802cb;
        }
        50% {
            box-shadow: 0px 0px 80px #0033ab;
        }
        100% {
            box-shadow: 0px 0px 50px #4802cb;
        }
    }
    .code {
        margin-left: auto;
        margin-right: auto;
        display: flexbox;
    }
    /* About Me */
    .about {
        display: flexbox;
        place-items: center;
        justify-content: space-between;
        padding-top: 8rem;
        padding-bottom: 30%;
    }
    #about:first-child {
        scroll-snap-align: start;
        padding-top: 3rem;
        font-size: 28px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        margin-bottom: 0px;
        margin-left: 10%;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .p-about {
        display: flexbox;
        padding: 5px;
        border: 1px solid #0033ab2c;
        margin-top: 10px;
        color: #b1b1b1;
        font-size: 19px;
        font-family: 'Josefin Sans', sans-serif;
    }
    .gif-2-conteiner {
        display: flexbox;
        position: relative;
        margin-left: 5%;
        margin-top: 3rem;
        align-content: center;
        align-items: center;
        width: 400px;
        height: 400px;
    }
    .gif-2 {
        display: grid;
        position: relative;
        border-radius: 10%;
        border: 0.15vw solid rgb(0, 0, 0);
        animation: img-1-animation 10s linear infinite;
    }
    @keyframes img-1-animation {
        0% {
            box-shadow: 0px 0px 50px #006bb780;
        }
        50% {
            box-shadow: 0px 0px 80px #e27aff80;
        }
        100% {
            box-shadow: 0px 0px 50px #006bb780;
        }
    }
    /* Skills */
    .skills {
        display: grid;
        place-items: center;
        padding-bottom: 40%;
        color: #b1b1b1;
    }
    #skills:first-child {
        scroll-snap-align: start;
        padding-top: 80px;
        font-size: 28px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .skills_li {
        padding-top: 4rem;
    }
    .skills li {
        display: flexbox;
        font-family: 'Josefin Sans', sans-serif;
        list-style: none;
    }
    .progress {
        width: 300px;
        padding-top: 0.1rem;
        padding-bottom: 0.3rem;
    }
    .progress progress {
        opacity: 1;
        width: 100%;
        background-color: #8c3a751c;
        border: 2px solid rgb(27, 27, 202);
        box-shadow: 0px 0px 100px rgba(128, 128, 165, 0.326);
    }
    /* Code Exemple */
    .code {
        display: grid;
        place-items: center;
        padding-top: 8rem;
        padding-bottom: 40%;
        color: #b1b1b1;
    }
    #code:first-child {
        scroll-snap-align: start;
        padding-top: 40px;
        font-size: 28px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .p-code {
        display: flexbox;
        padding: 5px;
        border: 1px solid #0033ab2c;
        margin-top: 10px;
        color: #b1b1b1;
        font-size: 19px;
        font-family: 'Josefin Sans', sans-serif;
    }
    pre {
        height: 420px;
        width: 70vw;
        overflow: scroll;
        margin-top: 10px;
        border: 1px solid rgb(176, 176, 176);
    }
    /* Courses */
    .courses {
        display: grid;
        place-items: center;
        padding-top: 10rem;
        padding-bottom: 40%;
        color: #b1b1b1;
    }
    #courses:first-child {
        scroll-snap-align: start;
        padding-top: 100px;
        font-size: 28px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .p-courses {
        display: flexbox;
        padding: 5px;
        border: 1px solid #0033ab2c;
        margin-top: 10px;
        color: #b1b1b1;
        font-size: 19px;
        font-family: 'Josefin Sans', sans-serif;
    }
    /* Work Experience */
    .work {
        display: grid;
        place-items: center;
        padding-bottom: 60%;
        color: #b1b1b1;
    }
    #work:first-child {
        scroll-snap-align: start;
        padding-top: 80px;
        font-size: 28px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .work_li {
        margin: 4rem;
        padding: 20px;
        padding-left: 35px;
        border: 1px solid #0033ab2c;
    }
    .work a {
        color: #b1b1b1;
    }
    .work li {
        display: flexbox;
        font-family: 'Josefin Sans', sans-serif;
        list-style: square;
        margin-top: 5px;
        line-height: 1.5;
    }
    .work li:hover {
        border-radius: 8%;
        animation: work-li-animation 2s linear infinite;
        font-weight: 800;
        transform: scale(1.05, 1.05);
    }
    @keyframes work-li-animation {
        0% {
            text-shadow: 1px 1px 20px #32d7e68f
        }
        50% {
            text-shadow: 1px 1px 20px #32e68c7b
        }
        100% {
            text-shadow: 1px 1px 20px #32d7e68f
        }
    }
    /* Languages */
    .lang {
        display: grid;
        place-items: center;
        padding-bottom: 60%;
        color: #b1b1b1;
    }
    #lang:first-child {
        scroll-snap-align: start;
        padding-top: 80px;
        font-size: 28px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .lang_li {
        padding-top: 4rem;
    }
    .lang li {
        display: flexbox;
        font-family: 'Josefin Sans', sans-serif;
        list-style: none;
    }
    /* Contact */
    .contact {
        display: flex;
        place-content: center;
        color: #b1b1b1;
        margin-bottom: 50%;
    }
    .contact-1 {
        display: flexbox;
        place-items: center;
        margin: 30px;
    }
    #contact-1:first-child {
        scroll-snap-align: start;
        padding-top: 80px;
        font-size: 23px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.5vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .contact_li {
        /* margin-top: 2rem;
        margin-left: 10%; */
        padding: 20px;
    }
    .contact li {
        display: flexbox;
        font-family: 'Josefin Sans', sans-serif;
        list-style: none;
        line-height: 1.4;
    }
    #contact-2 {
        padding-top: 80px;
        font-size: 23px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .contact-2 {
        margin: 30px;
        place-items: center;
        font-size: 28px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    /* Form */
    .form {
        display: flexbox;
    }
    .form li {
        display: flex;
    }
    .email {
        background-color: #080808;
        border: 2px solid #b1b1b1;
        color: #b1b1b1;
        width: 260px;
        margin-top: 30px;
        margin-left: 12%;
        margin-bottom: 6px;
        padding-left: 3px;
        padding-right: 3px;
    }
    .message {
        background-color: #080808;
        border: 2px solid #b1b1b1;
        color: #b1b1b1;
        width: 260px;
        height: 400px;
        margin-left: 12%;
        margin-bottom: 6px;
        padding-left: 3px;
        padding-right: 3px;
    }
    .button {
        margin-left: 269px;
    }
    /* Footer  */
    footer {
        display: flex;
        position: absolute;
        text-align: center;
        width: 100%;
        font-family: 'Josefin Sans', sans-serif;
        background-color: #240a8c;
        padding: auto;
        scroll-snap-type: mandatory;
    }
    .text_footer {
        margin: auto;
        font-size: 1.4vw;
        color: #b1b1b1;
        scroll-snap-align: start;
    }
    .img_git_footer {
        margin: auto;
    }
    .img_rs_footer {
        margin: auto;
    }
}


/* Мобилки */

@media (orientation: portrait) {
    * {
        margin: 0;
        padding: 0;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }
    .href {
        text-decoration: none;
    }
    body {
        display: flexbox;
        background-color: black;
    }
    /* Меню */
    nav {
        scroll-snap-align: start;
        display: flex;
        top: 0;
        left: 0;
        background-color: #0033ab;
        font-family: 'Kdam Thmor Pro', sans-serif;
        width: 100%;
    }
    .navigation {
        display: inline;
    }
    .navigation a {
        color: #c7eaea;
        margin-left: 5px;
    }
    .navigation li {
        display: inline-flex;
        position: relative;
        text-align: right;
        margin: 4px;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 14px;
        font-weight: 800;
        text-shadow: 1px 1px 10px rgb(0, 85, 113);
        color: #00000000;
        transition: 0.3s;
    }
    /* .navigation li:hover {
        border-radius: 8%;
        text-shadow: 1px 1px 20px rgb(50, 230, 65);
        font-weight: 800;
        transform: scale(1.1, 1.1);
    } */
    /* yuuta */
    main {
        place-items: center;
        display: flexbox;
        margin-left: 7%;
        margin-right: 7%;
    }
    /* Home */
    .name {
        display: flexbox;
        place-items: center;
        padding-bottom: 80%;
        grid-template-columns: 60% 40%;
    }
    #home:first-child {
        scroll-snap-align: start;
        font-size: 28px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        padding-top: 130px;
        animation: home-animation 2.8s linear infinite;
        color: #0033ab;
        line-height: 1.1;
    }
    @keyframes home-animation {
        0% {
            text-shadow: -40px -40px 100px #0033ab, 40px 40px 100px #5d02cb, 0px 0px 2px #0033ab;
        }
        25% {
            text-shadow: 21px -30px 100px #0033ab, -42px 28px 100px #5d02cb, 0px 0px 3px #0033ab;
        }
        50% {
            text-shadow: 34px 30px 100px #0033ab, -40px -20px 100px #5d02cb, 0px 0px 1px #0033ab;
        }
        75% {
            text-shadow: -49px 0px 100px #0033ab, 30px 20px 100px #5d02cb, 0px 0px 3px #0033ab;
        }
        100% {
            text-shadow: -40px -40px 100px #0033ab, 40px 40px 100px #5d02cb, 0px 0px 2px #0033ab;
        }
    }
    .gif-1-conteiner {
        display: flex;
        width: 100%;
        padding-top: 10%;
    }
    .gif-1 {
        width: 80vw;
        display: grid;
        border-radius: 10%;
        border: 0.15vw solid rgb(0, 0, 0);
        animation: img-1-animation 10s linear infinite;
    }
    @keyframes img-1-animation {
        0% {
            box-shadow: 0px 0px 50px #4802cb;
        }
        50% {
            box-shadow: 0px 0px 80px #0033ab;
        }
        100% {
            box-shadow: 0px 0px 50px #4802cb;
        }
    }
    .code {
        margin-left: auto;
        margin-right: auto;
        display: flexbox;
    }
    /* About Me */
    .about {
        display: flexbox;
        place-items: center;
        justify-content: space-between;
        padding-top: 20%;
        padding-bottom: 70%;
    }
    #about:first-child {
        scroll-snap-align: start;
        padding-top: 20%;
        font-size: 24px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        margin-bottom: 0px;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .p-about {
        display: flexbox;
        padding: 5px;
        border: 1px solid #0033ab2c;
        margin-top: 10px;
        color: #b1b1b1;
        font-size: 19px;
        font-family: 'Josefin Sans', sans-serif;
    }
    .gif-2-conteiner {
        display: flexbox;
        position: relative;
        margin-top: 2rem;
    }
    .gif-2 {
        width: 80vw;
        display: grid;
        position: relative;
        border-radius: 10%;
        border: 0.15vw solid rgb(0, 0, 0);
        animation: img-1-animation 10s linear infinite;
    }
    @keyframes img-1-animation {
        0% {
            box-shadow: 0px 0px 50px #006bb780;
        }
        50% {
            box-shadow: 0px 0px 80px #e27aff80;
        }
        100% {
            box-shadow: 0px 0px 50px #006bb780;
        }
    }
    /* Skills */
    .skills {
        display: grid;
        place-items: center;
        padding-bottom: 70%;
        color: #b1b1b1;
    }
    #skills:first-child {
        scroll-snap-align: start;
        padding-top: 80px;
        font-size: 24px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .skills_li {
        padding-top: 4rem;
    }
    .skills li {
        display: flexbox;
        font-family: 'Josefin Sans', sans-serif;
        list-style: none;
    }
    .progress {
        width: 300px;
        padding-top: 0.1rem;
        padding-bottom: 0.3rem;
    }
    .progress progress {
        opacity: 1;
        width: 100%;
        background-color: #8c3a751c;
        border: 2px solid rgb(27, 27, 202);
        box-shadow: 0px 0px 100px rgba(128, 128, 165, 0.326);
    }
    /* Code Exemple */
    .code {
        display: grid;
        place-items: center;
        padding-top: 8rem;
        padding-bottom: 50%;
        color: #b1b1b1;
    }
    #code:first-child {
        scroll-snap-align: start;
        padding-top: 40px;
        font-size: 28px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .p-code {
        display: flexbox;
        padding: 5px;
        border: 1px solid #0033ab2c;
        margin-top: 10px;
        color: #b1b1b1;
        font-size: 19px;
        font-family: 'Josefin Sans', sans-serif;
    }
    pre {
        height: 420px;
        width: 70vw;
        overflow: scroll;
        margin-top: 10px;
        border: 1px solid rgb(176, 176, 176);
    }
    /* Courses */
    .courses {
        display: grid;
        place-items: center;
        padding-top: 10rem;
        padding-bottom: 170%;
        color: #b1b1b1;
    }
    #courses:first-child {
        scroll-snap-align: start;
        padding-top: 100px;
        font-size: 28px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .p-courses {
        display: flexbox;
        padding: 5px;
        border: 1px solid #0033ab2c;
        margin-top: 10px;
        color: #b1b1b1;
        font-size: 19px;
        font-family: 'Josefin Sans', sans-serif;
    }
    /* Work Experience */
    .work {
        display: grid;
        place-items: center;
        padding-bottom: 120%;
        color: #b1b1b1;
    }
    #work:first-child {
        scroll-snap-align: start;
        padding-top: 80px;
        font-size: 24px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .work_li {
        margin: 4rem;
        padding: 20px;
        padding-left: 35px;
        border: 1px solid #0033ab2c;
    }
    .work a {
        color: #b1b1b1;
    }
    .work li {
        display: flexbox;
        font-family: 'Josefin Sans', sans-serif;
        list-style: square;
        margin-top: 5px;
        line-height: 1.5;
    }
    .work li:hover {
        border-radius: 8%;
        animation: work-li-animation 2s linear infinite;
        font-weight: 800;
        transform: scale(1.05, 1.05);
    }
    @keyframes work-li-animation {
        0% {
            text-shadow: 1px 1px 20px #32d7e68f
        }
        50% {
            text-shadow: 1px 1px 20px #32e68c7b
        }
        100% {
            text-shadow: 1px 1px 20px #32d7e68f
        }
    }
    /* Languages */
    .lang {
        display: grid;
        place-items: center;
        padding-bottom: 160%;
        color: #b1b1b1;
    }
    #lang:first-child {
        scroll-snap-align: start;
        padding-top: 80px;
        font-size: 24px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .lang_li {
        padding-top: 4rem;
    }
    .lang li {
        display: flexbox;
        font-family: 'Josefin Sans', sans-serif;
        list-style: none;
    }
    /* Contact */
    .contact {
        display: flexbox;
        place-content: center;
        color: #b1b1b1;
        margin-bottom: 50%;
    }
    .contact-1 {
        display: flexbox;
        place-items: center;
        margin: 30px;
    }
    #contact-1:first-child {
        scroll-snap-align: start;
        padding-top: 80px;
        font-size: 23px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.5vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .contact_li {
        /* margin-top: 2rem;
        margin-left: 10%; */
        padding: 20px;
    }
    .contact li {
        display: flexbox;
        font-family: 'Josefin Sans', sans-serif;
        list-style: none;
        line-height: 1.4;
    }
    #contact-2 {
        padding-top: 80px;
        font-size: 23px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    .contact-2 {
        margin: 30px;
        place-items: center;
        font-size: 28px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        letter-spacing: 0.7vw;
        animation: home-animation 2s linear infinite;
        color: #0033ab;
        line-height: 1.5;
    }
    /* Form */
    .form {
        display: flexbox;
    }
    .form li {
        display: flex;
    }
    .email {
        background-color: #080808;
        border: 2px solid #b1b1b1;
        color: #b1b1b1;
        width: 260px;
        margin-top: 30px;
        margin-bottom: 6px;
        padding-left: 3px;
        padding-right: 3px;
    }
    .message {
        background-color: #080808;
        border: 2px solid #b1b1b1;
        color: #b1b1b1;
        width: 260px;
        height: 400px;
        margin-bottom: 6px;
        padding-left: 3px;
        padding-right: 3px;
    }
    /* Footer  */
    footer {
        display: flex;
        position: absolute;
        text-align: center;
        width: 100%;
        font-family: 'Josefin Sans', sans-serif;
        background-color: #240a8c;
        padding: auto;
        scroll-snap-type: mandatory;
    }
    .text_footer {
        margin: auto;
        color: #b1b1b1;
        scroll-snap-align: start;
    }
    .img_git_footer {
        margin: auto;
    }
    .img_rs_footer {
        margin: auto;
    }
}